<title>
  {{ with .Title }}
    {{ . }}
  {{ else }}
    {{ $.Param "name" }}'s Portfolio
  {{ end }}
</title>

<!-- Meta tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Blaze Slider and its default css -->
<link rel="stylesheet" href="https://unpkg.com/blaze-slider@1.7.1/dist/blaze.css" />
<script src="https://unpkg.com/blaze-slider@1.7.1/dist/blaze-slider.min.js" defer></script>

<!-- Our CSS minified -->
{{ $sass := resources.Get "main.scss" }}
{{ $style := $sass | resources.ToCSS | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- Our JS minified -->
{{ $js := resources.Get "main.js" | js.Build "main.js" | minify }}
<script src="{{ $js.Permalink }}" defer></script>
