@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/source-code-pro.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* linear-gradient(to top, #28759b 30%, #021022) */
body {
  min-height: 100vh;
  color: white;
  background-color: #373737;
  background: linear-gradient(to bottom, #292828, #373737);
  font-family: "Source Code Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size-adjust: 0.7;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .wrapper {
    width: 650px;
    padding: 20px;

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  h1 {
    margin: 20px 0;
    font-size: 28px;
  }
}

nav {
  /* Name */
  div:first-child {
    font-size: 36px;
    font-weight: bolder;
  }

  /* Contact */
  div:nth-child(2) {
    display: flex;
    gap: 20px;
    font-weight: 500;

    @media screen and (max-width: 650px) {
      flex-flow: column;
      gap: 5px;
    }
  }

  a {
    color: white;
  }
}

p.summary {
  margin-top: 10px;
}

.slider-container {
  position: relative;
  overflow: visible;
  width: 100%;
}

.blaze-slider {
  margin: 0 30px;
  cursor: grab;

  .blaze-track-container {
    overflow: visible !important;
  }

  &.start .blaze-prev,
  &.end .blaze-next {
    opacity: 0.8;
    pointer-events: none;
  }

  .blaze-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 25px;
    cursor: default;

    .blaze-prev,
    .blaze-next {
      display: inline-block;
      padding: 5px;
      border: solid rgba(255, 255, 255, 0.5);
      border-width: 0 5px 5px 0;
      background-color: transparent;
      cursor: pointer;
      transition: border-color 300ms;

      &:hover {
        border-color: white;
      }
    }

    .blaze-prev {
      transform: rotate(135deg);
    }

    .blaze-next {
      transform: rotate(-45deg);
    }

    .blaze-pagination {
      display: flex;
      gap: 15px;
      margin: 0 8px;

      button {
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 50%;
        color: transparent;
        cursor: pointer;
        outline: 0;
        transition: background-color 300ms;
      }

      button:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }

      button.active {
        background-color: white;
      }
    }
  }
}

.blaze-slider.mobile {
  margin: 0;
  cursor: default;

  .blaze-track {
    display: flex;
    flex-flow: column !important;
    gap: 25px;
  }

  .blaze-nav {
    display: none;
  }
}

.project {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 20px;
  border: 4px solid white;
  border-radius: 10px;
  user-select: none;

  span {
    font-weight: bold;
  }

  a {
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: color 250ms;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  ul.key {
    margin-left: 20px;
  }

  ul.tech {
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
    gap: 15px;
    list-style: none;

    @media screen and (max-width: 475px) {
      flex-flow: column;
      gap: 5px;
    }

    li {
      padding: 3px 8px;
      border: 2px solid white;
      border-radius: 8px;
    }
  }
}

/* tech colors */

.tech {
  .TypeScript {
    background-color: #2c82c9;
  }

  .Vue {
    background-color: #2cc990;
  }

  .Node {
    background-color: #6cc24a;
  }

  .GoLang {
    background-color: #79d4fd;
  }

  .React {
    background-color: #61dafb;
  }

  .NestJS {
    background-color: #ea2845;
  }

  .Prisma {
    background-color: #2d3748;
  }
}

/* Timeline */

ul.timeline {
  list-style-type: none;
  position: relative;

  /* line */
  &:before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 31.5px;
    width: 2px;
    height: 100%;
    z-index: 400;
    margin-top: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }

  /* dot */
  & > li:before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 4px;
    background-color: #373737;
    border-radius: 50%;
    border: 3px solid white;
  }

  @media screen and (max-width: 625px) {
    &:before {
      left: 0 !important;
    }
    & > li:before {
      left: -11px !important;
    }
    & > li {
      margin: 20px 0 0 0 !important;

      .time {
        margin-left: 10px;
      }
    }
  }

  & > li {
    display: flex;
    flex-flow: column;
    margin: 20px 0 20px 40px;
    padding-left: 20px;

    .time {
      margin-bottom: 8px;

      span {
        padding: 3px 8px;
        border-radius: 8px;
        font-size: 12px;
        color: black;
        background-color: white;
      }
    }

    i {
      margin-bottom: 6px;
    }

    & div,
    & div ul {
      display: flex;
      flex-flow: column;
    }

    & div {
      gap: 6px;

      ul {
        gap: 6px;
        margin-left: 20px;
      }
    }
  }
}
